<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Pictures/index", pictures_path %>
<ol>
  <li comm="1"><%= pluralize 4, "House" %></li>
  <li comm="2"><%= I18n.t 'hello' %></li>
  <li comm="3"><%= I18n.t 'Hallo' %></li>
  <li comm="4"><%= I18n.t 'Hallo Kitty' %></li>
  <li comm="5"><%= I18n.l Time.now %></li>
</ol>
<% 2.times { %><br><% } %>
<fieldset>
  <legend>Kürzliche Hashtags</legend>
  <p>laskdjflsdkf</p>
</fieldset>
