<h1>Pictures/index</h1>
<p>Pictures: <%= @pic_count %></p>
<% @users.each do |user| %>
  <li>email: <%= user.email %></li>
  <li>pictures: <%= user.pictures %></li>
  <li>@users: <%= user %></li>
  <% user.pictures.each do |abc| %>
    <%= image_tag abc, width: "100px" %>
    <%= link_to user.email, picture_path(abc) %>
  <% end %>
<% end %>
