<h1>Pictures/index</h1>
<% @users.each do |user| %>
  <li>email: <%= user.email %></li>
  <li>pictures: <%= user.pictures %></li>
  <li>@users: <%= user %></li>
  <% user.pictures.each do |abc| %>
    <%= image_tag abc, width: "100px" %>
    <%= link_to user.email, picture_path(abc) %>
    <%#= link_to user.email, picture_path(abc) %>
  <% end %>
<% end %>

<br>

<% @pictures.take(5).each do |pic| %>
  <%= "===========================================" %>
  <li>email: <%= pic.user.email %></li>
  <li>user_id: <%= pic.user.id %></li>
  <li>pic_path: <%= pic.path %></li>
  <li>pic_id: <%= pic.id %></li>
  <li>@user: <%= pic.user %></li>
  <li>@hashtag: <%= pic.hashtag %></li>

<% end %>
