<div class="container">
  <div class="row">
    <% @pictures.take(5).each do |picture| %>
      <div class="col-sm m-3 text-center">
        <%#= link_to image_tag(picture.variant(resize_to_limit: [100, 100])), picture_path(picture) %>
        <br>
        <div id="pic<%= picture.id %>"><%= link_to picture.id, picture_path(picture) %></div>
      </div>
    <% end %>
  </div>
</div>
<% 5.times { %><br>
<% } %>
<%= "===========================================" %>
<br>


<%= "===========================================" %>
<%= "===========================================" %>
<%= "===========================================" %>







<%# @pictures.take(1).each do |pic| %>
  <%#= "===========================================" %>
  <%# pic.user.pictures.each do |aa| %>


    <%#= link_to image_tag(aa.variant(resize_to_limit: [100, 100])), picture_path(aa) %>
    <%#= link_to aa.id, picture_path(aa) %>

    <%#= link_to image_tag(aa.representation(resize_to_limit: [100, 100])), picture_path(aa) %>
    <%#= link_to image_tag(aa.representation(resize_to_limit: [100, 100]).processed.url), picture_path(aa) %>
    <%#= link_to image_tag(aa.variant(resize_to_fit: [100, 100])), picture_path(aa) %>
    <%#= link_to image_tag(aa.variant(resize: '100x100')), picture_path(aa) %>
  <%# end %>
  <%#= "===========================================" %>

<%# end %>



  <li>pic: <%= image_tag pic %></li>
  <li>pic: <%= pic.user %></li>
  <li>email: <%= pic.user.email %></li>
  <li>pic.user.pictures: <%= pic.user.pictures %></li>
  <li>user_pic: <%#= @user %></li>
  <li>pic_path: <%= pic.path %></li>
  <li>pic_id: <%= pic.id %></li>
  <li>user: <%= pic.user %></li>
  <li>pic.user.pictures: <%= pic.user.pictures %></li>
  <li><b>@hashtag</b>: <%#= pic.hashtags %></li>
  <li><b>pictures_hashtags</b>: <%= pic.pictures_hashtags %></li>
  <%= "===========================================" %>
  <b><%= "pic.pictures_hashtags.each do |bb|" %></b>
  <% pic.pictures_hashtags.each do |bb| %>
    <li>id: <%= bb.id %></li>
    <li>hashtag_id: <%= bb.hashtag_id %></li>
    <li>picture_id: <%= bb.picture_id %></li>
  <% end %>
  <%= "===========================================" %>
  <br>
<% end %>

  <% @users.each do |user| %>
    <li>email: <%= user.email %></li>
    <li>pictures: <%= user.pictures %></li>
    <li>@users: <%= user %></li>
    <% user.pictures.each do |abc| %>
      <%#= image_tag abc, width: "100px" %>
      <%= link_to user.email, picture_path(abc) %>
      <%#= link_to user.email, picture_path(abc) %>
    <% end %>
  <% end %>
