<h1>picture/show</h1>
<div class="row justify-content-between m-0">
  <div style="" class="container text-center ">
    <%= link_to "index", pictures_path, class: "btn" %>
    <% if @picture.id > 1 %>
      <%= link_to "prev", picture_path(@picture.id - 1), class: "btn" %>
    <% else %>
      <div id="last" class="btn"><%= "last"%></div>
      <%#= link_to "last", picture_path(), id: "last", class: "btn"  %>
    <% end %>
    <% if @picture.id < @pictures_count %>
      <%= link_to "next", picture_path(@picture.id + 1), class: "btn" %>
    <% else %>
      <div id="last" class="btn"><%= "last"%></div>
    <% end %>
  </div>
  <div style="" class="col-sm-8">
    <% if current_user.id === 1 %>
      <div style="" class="heightpic">
        <%= image_tag @picture, class: "showpic" %>
      </div>
    <% else %>
      <%#= image_tag @picture, width: "600px" %>
      <%= image_tag @picture.variant(resize_to_limit: [300, 300]), class: "showpic"  %>
      <%#= image_tag @picture, class: "showpic"  %>
    <% end %>
  </div>
  <div style="" class="InfoCard col-sm-4">
    <% if current_user.id === 1 %>
      <div id="FilePath">
        <li id="PicPath">Path: <%= @picture_info.path %></li>
      </div>
    <% end %>
    <li>Image ID: <%= @picture.id %></li>
    <% @hashtags.each do |hashtag| %>
      <div class="button">
        <%= hashtag.hashtag.name %>
        <%= link_to "X", picturehash_path(hashtag.id), class: "btn button-del"  %>
      </div>
    <% end %>
  </div>
</div>
