<h1>picture/show</h1>

<%= image_tag @picture, width: "100px" %>
<li>@picture.id: <%= @picture.id %></li>
<li>p_info.path: <%= @p_info.path %></li>
<li>@pictures_hash: <%= @pictures_hash %></li>
<li>@hashtag: <%= @hashtag %></li>
<li>@hashtagg: <%= @hashtagg %></li>
<% @pictures_hash.each do |ha| %>
  <li>hash_id: <%= ha.hashtag_id %>, pic_id <%= ha.picture_id %></li>
  <%# @hashtag.each do |hh| %>
    <%#= hh.name %>
  <%# end %>
<% end %>


<% @pictures_hash.each do |ha| %>
  <% @hashtagg.each do |hh| %>
    <% if hh.id === ha.hashtag_id %>
      <%= hh.name %>
    <% end %>
  <% end %>
<% end %>
